.button {
    padding: 0.875rem 3rem;
    color: white;
    text-decoration: none;
    box-shadow: 8px 8px 8px -4px rgb(0 0 0 / 40%);
}

.button:hover {
    background-color: transparent;
    transform: 0.3s;
}
.btn-box-blue {
    border: 2px solid #3298ba;
    background-color: #3298ba;
}

.btn-box-blue:hover {
    border: 2px solid #3298ba;
    color: #3298ba;
}

.btn-box-red {
    border: 2px solid #f7444e;
    background-color: #f7444e;
}

.btn-box-red:hover {
    border: 2px solid #f7444e;
    color: #f7444e;
}

.btn-box-yellow {
    border: 2px solid #FFCA2C;
    background-color: #FFCA2C;
}

.btn-box-yellow:hover {
    border: 2px solid #FFCA2C;
    color: #FFCA2C !important;
}

.btn-box-green {
    border: 2px solid #1ad60c;
    background-color: #1ad60c;
}

.btn-box-green:hover {
    border: 2px solid #1ad60c;
    color: #1ad60c !important;
}

.btn-box-sm {
    padding: 0.375rem 1.25rem !important;
}

.btn-box-xs {
    padding: 0.225rem .75rem !important;
}

.text-more {
    color: #3298ba;
    position: relative;
    border: 1px solid rgb(0 0 0 / 20%);
    box-shadow: 8px 8px 8px -4px rgb(0 0 0 / 40%);
}

.text-more:hover {
    color: white;
    border-color: #3298ba;
    background-color: #3298ba;
    transition: 0.3s;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.24);
}

.bg-welcome {
    background-color: #002c3e;
}

.bg-welcome1 {
    background-image: url("https://themewagon.github.io/famms/images/arrival-bg.png");
    min-height: 90vh;
    background-size: cover;
}

.bg-welcome2 {
    background-image: linear-gradient(70deg, #ffffff, #41faf7, #56c7f0);
    background-size: 100%;
    height: 80vh;
}

.bg-welcome3 {
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
    background-color: #f7f8f9;
    border: 10px solid white;
}

.detail-info {
    box-sizing: border-box;
    padding: 20px;
    border: 0.5px solid #002c3e;
    border-radius: 5px;
}

.detail-img {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2deff;
    border: 0.7px solid #002c3e;
}

.detail-img:hover {
    background-color: rgba(255, 249, 249, 0.7);
    transition: 0.3s;
}

.detail-img:hover img {
    transition: 0.3s;
    transform: scale(0.9);
}

.bg-welcome3 img {
    max-width: 100%;
    max-height: 160px;
    height: auto;
}

.for-more {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateY(100%);
    background-color: rgba(255, 249, 249, 0.7);
}

.bg-welcome3:hover .for-more {
    visibility: visible;
    transition: 0.3s;
    transform: translateY(0);
}

.bg-welcome3:hover img {
    transition: 0.3s;
    transform: scale(1.2);
}

.text-blue {
    color: #3298ba;
}

.bg-blue {
    background-color: #3298ba;
}

.text-red {
    color: #db4444;
}

.bg-red {
    background-color: #db4444;
}

.text-green {
    color: #3dbf3f;
}

.bg-green {
    background-color: #3dbf3f;
}

.btn-hover:hover {
    background-color: #38686b !important;
}

a.text-green:hover {
    color: #5d9663;
}

.bg-green:hover {
    background-color: #5d9663;
}

.text-hover {
    color: #676e7c !important;
}

.text-hover:hover {
    color: #3298ba !important;
}

.img-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

a.dropdown-item:hover {
    background-color: white;
    color: #3298ba;
}

.bg-nav {
    color: white !important;
    background-color: #3298ba;
}

.navlink-hover {
    color: #3298ba;
    text-decoration: none;
    font-family: poppins;
}

.navlink-hover:hover {
    color: white;
    background-color: #3298ba;
    transition: 0.5s;
}

.img-profile {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #0d6efd;
    transition: 0.3;
}

.img-profile:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid #1b9ad4;
}

.animasi-lompat {
    animation: lompat 1s ease;
}

@keyframes lompat {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10001;
}

.preloader .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.before-footer {
    background-color: #f0e9e9 !important;
}

.for-shop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateY(100%);
    background-color: rgba(255, 249, 249, 0.7);
}

.bg-welcome3:hover .for-shop {
    visibility: visible;
    transition: 0.3s;
    transform: translateY(0);
    padding: 10% 0 0 0;
}

.klik {
    rotate: 90deg;
    transition: 0.3s;
}

.klik:focus {
    rotate: 0deg;
}

.for-klik{
    position: absolute;
    transform: translatex(-100%);
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    box-sizing: border-box;
}

.for-klik a{
    font-weight: 500;
    border: 0.5px solid black;
    color: #002c3e;
    padding: 0.565rem;
}

.for-klik a:hover{
    background-color: #002c3e;
    color: #fff;
}

h5:focus-within ~ .for-klik, .for-klik:active{
    transition: .3s;
    visibility: visible;
    transform: translateX(135%);
}

.number-type, .number-type:active, .number-type:focus{
    border: none;
    outline: none;
    width: 15%;
}

.kosong{
    height: 75vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.top-25{
    top: 25%;
}

.p-kosong {
    top: 32.5%;
    left: 20%;
}

.border-tabel{
    border-top: 2px solid black;
    border-bottom: 2px solid white;
}